<div data-ng-controller="portalController" class="container">
		<div class="container" style="margin-top: 70px;">
			<div class="row">
			<form data-role="form" data-ng-submit="addUser(job);">
				<div class="col-lg-8">
					
					<div class="form-group">
						<label for="InputName">Job Title</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.jobTitle" placeholder="Enter Title" required>
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>

					
					<div class="form-group">
						<label for="InputName">Description</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.jobDescription" placeholder="Enter Description" required>
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputName">Company Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.companyName" placeholder="Enter Company Name" required>
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputName">Logo</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.logo" placeholder="Enter Logo" required>
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputName">Location</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.location" placeholder="Enter Location" required>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-asterisk"></span>
							</span>
						</div>
					</div>
					
					<!-- <div class="form-group">
						<label for="InputName">Posted Date</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.postedDate" required>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-asterisk"></span>
							</span>
						</div>
					</div> -->
					
					<div class="form-group">
						<label for="InputName">Closed Date</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName"
								data-ng-model="job.closedDate"  required>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-asterisk"></span>
							</span>
						</div>
					</div>
					
					<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-circle blue pull-right">
				</div>
			</form>
		</div>
		</div>
	</div>
<div data-ui-view></div>


